.categories{
  text-align: center;
}
.cards{
  margin: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  border-radius: 5px;
  padding: 5px;
  margin:20px;
}
.card:hover{
  box-shadow: 3px 3px 3px 3px grey;
}
.btn{
  margin-top: 5px;
}